
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div id="add_to_meeting_list">
   <% form_tag( :controller => 'task_objs', :action => :update_meeting, :id => @task_obj ) do %>
       <%= submit_tag 'Set Selected' %>
       <p class="select_list">&nbsp;</p>
       <% for meeting in @meetings %>
           <p class="select_list"> <%= radio_button_tag("meeting_id",meeting.id) %> <%= meeting.sname %> </p>
       <% end %>
       <p class="select_list">&nbsp;</p>
       <%= submit_tag 'Set Selected' %>
   <% end %> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

