
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div id="add_to_commitee_list">
   <% form_tag( :controller => 'task_objs', :action => :update_commitee, :id => @task_obj ) do %>
       <%= submit_tag 'Set Selected' %>
       <p class="select_list">&nbsp;</p>
       <% for committee in @committees %>
           <p class="select_list"> <%= radio_button_tag("committee_id",committee.id) %> <%= committee.sname %> </p>
       <% end %>
       <p class="select_list">&nbsp;</p>
       <%= submit_tag 'Set Selected' %>
   <% end %> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

