
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div id="add_to_month_list">
   <% form_tag( :controller => 'meetings', :action => :update_month, :id => @meeting ) do %>
       <%= submit_tag 'Set Selected' %>
       <p class="select_list">&nbsp;</p>
       <% for month in @months %>
           <p class="select_list"> <%= radio_button_tag("month_id",month.id) %> <%= month.sname %> </p>
       <% end %>
       <p class="select_list">&nbsp;</p>
       <%= submit_tag 'Set Selected' %>
   <% end %> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

