
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div id="add_to_committee_role_list">
   <% form_tag( :controller => 'role_assignments', :action => :update_committee_role, :id => @role_assignment ) do %>
       <%= submit_tag 'Set Selected' %>
       <p class="select_list">&nbsp;</p>
       <% for committee_role in @committee_roles %>
           <p class="select_list"> <%= radio_button_tag("committee_role_id",committee_role.id) %> <%= committee_role.sname %> </p>
       <% end %>
       <p class="select_list">&nbsp;</p>
       <%= submit_tag 'Set Selected' %>
   <% end %> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

